<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="SeliniumTestCases.MultipleWindowHandling"/>
      <class name="SeliniumTestCases.GetAttribute"/>
      <class name="SeliniumTestCases.TakeScreenshot"/>
      <class name="SeliniumTestCases.Gmail"/>
      <class name="SeliniumTestCases.Test1"/>
      <class name="SeliniumTestCases.DragAndDrop"/>
      <class name="SeliniumTestCases.NewTest01"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->